.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  .add-note {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

// Media queries

@media screen and (max-width: 480px) {
  .form {
    gap: 15px;

    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  .api-button {
    display: none;
  }
}
