@mixin icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 4px 4px 4px #ccc, -4px -4px 4px #fff;
  transition: all 0.1s ease-in;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  &:active {
    border: 1px solid #ccc;
    box-shadow: none;
  }
}

.todo-icons {
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;

  .todo-remove {
    @include icon;

    &:hover {
      color: red;
    }
  }

  .todo-edit {
    @include icon;

    &:hover {
      color: rgb(11, 89, 255);
    }
  }

  .task-completed {
    @include icon;

    &:hover {
      color: rgb(28, 231, 45);
    }

    &-active {
      color: rgb(28, 231, 45);
      @include icon;
    }
  }
}

// Media queries

@media screen and (max-width: 476px) {
  .todo-icons {
    font-size: 18px;
    gap: 25px;
    margin-top: 5px;
  }

  .todo-remove {
    width: 24px !important;
    height: 24px !important;
    padding: 2px !important;
  }

  .todo-edit {
    width: 24px !important;
    height: 24px !important;
    padding: 2px !important;
  }

  .task-completed {
    width: 24px !important;
    height: 24px !important;
    padding: 2px !important;

    &-active {
      width: 24px !important;
      height: 24px !important;
      padding: 2px !important;
    }
  }
}
