.Input {
  input {
    padding: 7px 12px;
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    box-shadow: inset 6px 6px 6px #ccc, inset -6px -6px 6px #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all 100ms ease-in;
  }

  label {
    margin-right: 5px;
  }
}
